@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';


@gutter : 1em;

@shortDuration : .1s;
@mediumDuration : .5s;
@longDuration : 1s;


/**
 * App-wide Styles
 */

/*
PRIMARY LAYOUT
*/
body{
  height : 100%;
  width: 100%;
  position : absolute;
  overflow : hidden;
}

.wrapper
{
  height : 100%;
  width: 100%;
  position : absolute;
  overflow : hidden;
}

.big-container{
  width : 167%!important;
  padding: 0;
  position : absolute;
  margin: 0!important;
  left: -33.333333333333333333333333333333%!important;
  height : 100%;
  overflow : hidden;
  top : 0;
}

.big-container.left
{
  left : 0!important;
}

.big-container.right
{
  left : -66.6666666666666666666666666666666666666666%!important;
}

.column{
  display : inline-block;
  width : 20%;
  height : 100%;
  overflow : hidden;
  margin : 0;
  padding : 0;
  float : left;
  position : relative;
}

// .column:last-child{
//   width : 18%;
// }

.row{
  padding: 0 1em 0 1em;
}

/*
.column:nth-child(odd){
  background : #e7e7e7;
}*/

.row{
  width : 100%;
  margin : 0;
}

/*
ANIMATIONS
*/

.animate
{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
}

.animate-fast
{
    -webkit-transition: all .1s ease;
       -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
         -o-transition: all .1s ease;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave,
.animate-fast.ng-enter.ng-enter-active,
.animate-fast.ng-leave
{
    opacity: 1;
}

/* Remove animation */
.animate.ng-leave.ng-leave-active,
.animate.ng-enter,
.animate-fast.ng-leave.ng-leave-active,
.animate-fast.ng-enter
{
    opacity: 0;
}

.animate.ng-hide-add-active,
.animate-fast.ng-hide-add-active
{
    opacity: 0;
}
.animate.ng-hide-remove-active,
.animate-fast.ng-hide-remove-active
{
    opacity: 1;
}

.animate.ng-show-add-active,
.animate-fast.ng-show-add-active
{
    opacity: 0;
}
.animate.ng-show-remove-active,
.animate-fast.ng-show-remove-active
{
    opacity: 1;
}

/*
GENERIC LAYOUT
*/

a{
  color : inherit;
  text-decoration : none;
  font-weight : 800;
}

a:hover{
  text-decoration : none;
  color :inherit;
}

.long-container{
  overflow : hidden;
  overflow-y : auto;
}

.consultable-container{
  overflow-y : auto;
  height : 100%;
}

.CodeMirror {
    height: 100%;
}

.step-header{
  // border-bottom : 1px dashed #333;
  height : 6em;
  text-align : center;
  color : white;
  background : #333;
}

.moving-header{
  color : white;
  background : #333;
  position : absolute;
  text-align : center;
  height : 100%;
  width : 100%;
  left : 0;
  top : 0;
}

.moving-header.minified
{
  height : 6em;
  cursor : pointer;
}

.moving-header.minified:hover{
  color : darkgrey;
  background : green;
}


.moving-header h2{
  font-size: 1em;
  text-transform: uppercase;
  padding-top : 1em;
}

.moving-header h2.big{
  font-size : 1.5em;
  padding-top : 0;
}

.inline-options-container{
  display : flex;
}

.inline-option{
  flex-grow: 1;
}

form.inline-option{
  width : 100%;
  padding-right : .5em;
}

.inline-option-big{
  flex-grow : 3;
}

.bottom-group{
  bottom: 0;
  left: 0;
  position : absolute;
  width :100%;
  padding : 0;
}

.btn-group.flexed
{
  display : flex;
  padding : 0;
  background : #333;
}

.final-step{
  display : flex;
  padding : 0;
  background : #333;
}

.bottom-group .btn-group .btn{
  flex-grow : 1;
  background: #333;
  color : white;
  text-transform : uppercase;
  padding : 1em;
}

.bottom-group .btn-group .btn.active
{
  background : brown;
}

.bottom-group .btn-group .btn:hover
{
  background : grey;
  color : white;
}

.bottom-group .btn-group .btn span::before
{
  margin-right : 1em;
}

textarea{
  width : 100%;
  background : inherit;
  outline : none;
  border : none;
  resize :none;
  background : white;
}

input[type=text]{
  outline : none;
  border : none;
}

input[type=submit]{
  background: #e7e7e7;
  border : none;
}

input:focus{
  background: #e7e7e7;
}

/*
SPECIFIC STYLES
*/

/*
FUN FUN FUN
*/
.step-number
{
  background : brown;
  color : white;
  border-radius : 50%;
  padding : .5em .8em .5em .8em;
  margin-right : 1em;
  font-size : 1em;
}

/*
Templates selector
*/

ul.templates-list
{
  background : white;
  width : 50%;
  margin : 0;
  padding : 0;
  margin-left : 25%;
  max-height : 25%;
  overflow-y : auto;
}

.templates-list li.template
{
  list-style-type : none;
  cursor : pointer;
  margin : 0;
  margin-bottom : .5em;
  background : lightgrey;
  color : black;
  text-transform : uppercase;
  padding : 1em;
}

.templates-list li.template.active
{
  color : white;
  background : brown;
}

.templates-list li.template:hover
{
  color : white;
  background : darkgrey;
}


#templating-help
{
  z-index : 10;
}

/*
2 - selectors (input, possible filters, ...)
*/
.selectors-container{
  padding-bottom : 1em;
}

/*
2 - zotero items
*/
.zotero-item {
  background: #e7e7e7;
  padding : .2em 1em .2em 1em;
  margin-bottom : .5em;
  cursor : pointer;
  position : relative;
}

.zotero-item h4{
  font-size : 1em;
}

.zotero-item .zotero-item-primary-information,
.zotero-item .zotero-item-additional-information
{
  padding-left : 2em;
}


.zotero-item .zotero-item-additional-information
{
  max-height : 0;
  opacity : 0;
}

.zotero-item:hover .zotero-item-additional-information
{
  margin : 2em 0 2em 0;
  max-height : 200px;
  opacity : 1;
}

.zotero-item .add-sign
{
  position : absolute;
  right : 2em;
  top : 45%;
  opacity : 0;
}

.zotero-item:hover .add-sign
{
  opacity : 1;
}

.zotero-item p{
  margin : 0;
  font-size : .8em;
}

.zotero-item .item-icon
{
  position : absolute;
  left : 1em;
  top : 1em;
}

.results-display-container .more-items{
  background: #e7e7e7;
  text-align: center;
  text-transform : uppercase;
  font-weight : 800;
  padding : 1em;
  cursor : pointer;
}

.zotero-item .btn-group{
  margin-top : .5em;
}

.zotero-item .btn{
  background : rgba(0,0,0,.1);
  font-size : .8em;
  padding : .2em;
}

/*
2 - selected items
*/

.selected-items-container{
  background: brown;
  color: white;
}

.selected-items-container h3{
  font-size : 1em;
  text-transform: uppercase;
}

.selected-list-container .zotero-item{
  background: #333333;
  color : white;
  margin : 0;
}

.selected-list-wrapper{
  border-bottom : 2px solid white;
  max-height : 10em;
}
.selected-list-container{
  /*overflow-y : auto;*/
}

.zotero-item:hover{
  background : darkgrey;
}

.zotero-item:hover .confirm,
.zotero-item .remove
{
  display : none;
  opacity : 0;
}

.zotero-item:hover .remove,
.zotero-item .confirm
{
  opacity : 1;
  display : inline;
}


.alerts{
  text-align : center;
  padding-left : 30%;
  padding-right : 30%;
  padding-top : 1em;
}

alert{
  text-align : center;
}


/*
===========================
GENERIC COMPONENTS
==========================
*/

.guttered
{
  padding : @gutter;
}

.btn{
  cursor : pointer;
}

.absolute-top-left,
.absolute-top-right,
.absolute-bottom-left,
.absolute-bottom-right
{
  position : fixed;
}

.absolute-top-left,
.absolute-top-right
{
  top : @gutter;
}

.absolute-bottom-left,
.absolute-bottom-right
{
  bottom : @gutter;
}

.absolute-top-left,
.absolute-bottom-left
{
  left : 0;
  padding-left : @gutter;
}

.absolute-top-right,
.absolute-bottom-right
{
  right : 0;
  padding-right : @gutter;
}

.left .absolute-top-left,
.left .absolute-bottom-left
{
  left : 33.33333333333333333%;
}

.right .absolute-top-right,
.right .absolute-bottom-right
{
  right : 33.33333333333333333333%;
}


.mini-icon
{
  -webkit-transform: scale(.4);
  -moz-transform: scale(.4);
  -o-transform: scale(.4);
  transform: scale(.4);
}

.mini-icon:hover
{
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
}

.nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2) {
  top: 18px;
}

.nav-icon span:nth-child(3) {
  top: 36px;
}

.nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/*
=============================
SPECIFIC COMPONENTS
==============================
*/

.introduction{
  margin-top : 40%;
}

/*
Markdown editor
*/

.cm-s-default .cm-header-1
{
    font-size: 2.4em;
}

.cm-s-default .cm-header-2
{
    font-size: 2em;
}

.cm-s-default .cm-header-3
{
    font-size: 1.6em;
}

.cm-s-default .cm-header-4
{
    font-size: 1.4em;
}

.cm-s-default .cm-header-5
{
    font-size: 1.2em;
}

.cm-s-default .cm-header-6
{
    font-size: 1.1em;
}

.cm-s-default .cm-quote
{
    display: block;

    padding-left: 1em;

    border-left: solid 1em black;
}

.cm-s-default .cm-link,
.cm-s-default .cm-string,
{
    color: blue;
}

.cm-s-default .cm-template
{
  color : brown;
}


/*
================
ANIMATIONS
================
*/


.animate-medium
{
    -webkit-transition: all @mediumDuration ease;
            transition: all @mediumDuration ease;
}


/*
vary height
*/
.slide-height
{
    overflow-y: hidden;

    max-height: Infinity;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
}

.slide-height.ng-enter,
.slide-height.ng-show
{
    max-height: 0;
}

.slide-height.ng-enter-active,
.slide-height.ng-show-add
{
    max-height: Infinity;
}

.slide-height.ng-leave,
.slide-height.ng-hide
{
    max-height: Infinity;
}

.slide-height.ng-leave-active,
.slide-height.ng-hide-add
{
    max-height: 0;
}



// injector
@import 'main/main.less';
@import 'modal/modal.less';
// endinjector
